.apiBtn1 button {
  cursor: pointer;
  font-size: 15px;
  border: none;
  height: 30px;
  background-color: #dc143c;
  color: #fff;
  padding: 0px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
